@using UserAwards.PL.WEB.Modules
@{
    var WebPL = new WebUserAwardsPL();
    var users = WebPL.GetAllUsers();

    string image;
}

@foreach (var user in users)
{
    <text>
        <div class="item border-primary" id="@user.Id">
            <div class="deleteItem"><button class="btn-sm btn-danger">&times;</button></div>
            @if (user.Image == "") { image = "no_avatar.png"; }
            else { image = user.Image; }
            <div class="itemImage"><img class="avatar" src="~/Images/Avatars/@image" /></div>
            <div class="itemName alert-primary">@user.Name</div>
        </div>
    </text>
}