* {
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
}

.row {
    margin: 0 15px;
}

.itemList {
    display: inline-flex;
    overflow-x: auto;
}

.mainGroups {
    border-color: #bebebe;
    border-radius: 30px;
    border-style: solid;
    padding: 30px;
    margin: 30px;
    user-select: none;
}

.item {
    background-color: #ffffff;
    float: left;
    margin: 5px;
    padding: 0px;
    overflow: hidden;
    flex-shrink: 0;
    width: 140px;
    height: 220px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    display: grid;
    grid-template-rows: 30px 160px 30px;
    cursor: pointer;
}

    .item:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        transition: all 0.3s ease-in-out;
    }

.deleteItem {
    width: 100%;
    text-align: right;
    padding: 0px;
}

.itemImage {
    display: flex;
    padding: 5px;
    height: 100%;
}

.itemName {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.avatar {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.modal_div_image {
    display: flex;
    width: 140px;
    height: 160px;
    border-color: #bebebe;
    border-radius: 3px;
    border-style: solid;
    padding: 3px;
    user-select: none;
}

    .modal_div_image > img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

.modal_user_award_list {
    float: left;
}

    .modal_user_award_list > div {
        display: flex;
        width: 50px;
        height: 70px;
        border-color: #bebebe;
        border-radius: 3px;
        border-style: solid;
        padding: 3px;
        user-select: none;
        margin: 3px;
    }

        .modal_user_award_list > div > img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }

.modal_list_plus {
    cursor: pointer;
}